@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-------------------------------------the image--------------------------------*/

body {
    background-image: url("https://images.pexels.com/photos/256490/pexels-photo-256490.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -1;
    font-family: 'Oswald';
    overflow-y: scroll;
}


/*-------------------------------------------------------------------------------*/

main {
    font-size: 60%;
}

a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}


/*------------------------------nav bar----------------------------------------------*/

.container-fluid {
    background: rgba(0, 0, 0, 0.6);
}

nav {
    font-family: 'Oswald';
    position: fixed;
    z-index: 10;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo2 {
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: small;
}

.fix {
    margin: 5px auto 0 auto;
}


/*-------------------------------------------------------------------------------*/


/* ----------------------------------BIG-BOX----------------------------------------------------- */

.big-box {
    width: 80%;
    height: 75%;
    padding: 10px 30px 10px 30px;
    position: fixed;
    top: -19%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    /* min-height: 1vh;*/
    text-align: center;
    border-radius: 1%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;

}


/* ----------------------------------MIN-BOX----------------------------------------------------- */

.min-box {
    width: 58%;
    height: 40%;
    padding: 10px 30px 10px 30px;
    position: fixed;
    top: 9%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    border-radius: 1%;
    color: #fff;
    border: 1px solid #f1e9e9;
    transition: 1s background-color;
}

.min-box:hover {
    transition-delay: 900ms;
    background: rgba(0, 0, 0, 0.4);
}

.Etudiant,
.Enseignant,
.Conecter,
.Inscrire {
    width: 30%;
    height: 23%;
    margin: 3% 25px;
    text-align: center;
    font-size: 200%;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
    font-family: 'Oswald';
    transition: 1s background-color;
    cursor: pointer;
    /* font-family: 'Dancing Script', cursive; */
}

.Etudiant:hover,
.Enseignant:hover,
.Conecter:hover,
.Inscrire:hover {
    transition-delay: 250ms;
    border-color: #abcfb6;
    background: rgba(199, 190, 190, 0.5);
}


/* ----------------------------------FORMULAIRE-INSCRIPTION---------------------------------------------------- */

.big-box2 {
    width: 80%;
    height: 87%;
    padding: 10px 30px 10px 30px;
    position: fixed;
    top: -33%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    /* min-height: 1vh; */
    text-align: center;
    border-radius: 1%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;
}

@media(max-width:1028px) {
    .body {
        width: 50%
    }
}

form {
    font-size: 12px;
}

form h2 {
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 252, 252, 0.3);
    color: #bfc6c9;
    font-family: 'Oswald';
    padding-bottom: 5px;
}

.password1,
.email1,
.first-name1,
.last-name1,
.tel {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: left;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 8px 15px;
    width: 22%;
    outline: none;
    border-radius: 0;
    transition: 0.25s;
    color: #cddde4;
}

.password1:focus,
.email1:focus,
.first-name1:focus,
.last-name1:focus,
.tel:focus {
    width: 35%;
    border-color: #abcfb6;
}

 ::-webkit-input-placeholder {
    color: #8c8d8d;
    font-size: 12px;
}

 ::-moz-input-placeholder {
    font-size: 12px;
    color: #8c8d8d;
}

 ::-ms-input-placeholder {
    font-size: 12px;
    color: #8c8d8d;
}

select {
    padding: 5px;
    border-radius: 5px;
    width: 11%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
}

#date_de_naissance {
    font-size: 13px;
    padding-right: 15%;
    color: #bfc6c9;
}

#Date {
    padding: 5px;
    border-radius: 5px;
    width: 7%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
}

.checkbox {
    font-size: 6px;
    /* padding-left: 57px; */
    padding-right: -3%;
    margin-top: 15px;
}

.checkbox input {
    margin-top: 4px;
}

.signup,
.login,
.Demande {
    padding: 5px;
    border-radius: 5px;
    width: 20%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
    transition: 1s background-color;
}

.signup:hover,
.login:hover {
    transition-delay: 250ms;
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}

.connexion-index {
    font-size: 10px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}


/* --------------------------------FORMULAIRE-CONNEXION---------------------------------------------------- */

.mot_passe_oubli {
    font-size: 11px;
    padding-right: 13%;
    margin-top: 1px;
}

.checkbox_c {
    font-size: 11px;
    padding-right: 14%;
    margin-top: 1px;
}


/* ----------------------------FORMULAIRE-MOT-PASSE-OUBLIE-DEMANDE------------------------------------------------- */

.Demande:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}

form h4 {
    color: rgb(233, 221, 221);
    font-weight: 300;
    font-size: 14px;
    font-family: 'Oswald';
}


/* ----------------------------TABLEAU DE BORD-------------------------------------------------- */

.Profil,
.Disponibilité,
.rendez-vous {
    font-size: 15px;
    margin: 0% 2%;
    padding: 5px;
    border-radius: 5px;
    height: 16%;
    width: 25%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    font-family: 'Oswald';
    border: 1px solid #cddde4;
}

.Déconnexion {
    float: right;
    font-size: 15px;
    padding: 5px;
    margin: 4% 10%;
    border-radius: 5px;
    width: 10%;
    height: 6%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    font-family: 'Oswald';
    border: 1px solid #cddde4;
}

.Profil:hover,
.Disponibilité:hover,
.rendez-vous:hover,
.Déconnexion:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}


/* ----------------------------PROFIL-------------------------------------------------- */

.photo_profil {
    float: left;
    height: 9%;
    width: 7%;
    margin: 10px;
    border-radius: 50%;
}

.Non_etudiant,
.date_naissance,
.Tel,
.class,
.date_inscription,
.date_connexion {
    text-align: left;
    font-size: 13px;
}

.Modifier {
    margin-left: 65%;
    padding: 5px;
    border-radius: 5px;
    width: 13%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
}

.Modifier:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}

.profil-box section {
    color: rgb(238, 236, 236);
    font-weight: 300px;
    border-bottom: 1px solid rgba(255, 252, 252, 0.3);
    font-family: 'Oswald';
    padding-bottom: 5px;
}

form h3 {
    color: rgb(233, 221, 221);
    text-align: left;
    font-size: 14px;
    /* border-bottom: 1px solid rgba(15, 15, 15, 0.3); */
    font-family: 'Oswald';
}


/* ----------------------------Modifier-PROFIL-------------------------------------------------- */

div h2 {
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 252, 252, 0.3);
    color: #bfc6c9;
    font-family: 'Oswald';
    padding-bottom: 5px;
}

div h3 {
    color: rgb(233, 221, 221);
    text-align: left;
    font-size: 14px;
    /* border-bottom: 1px solid rgba(15, 15, 15, 0.3); */
    font-family: 'Oswald';
}

.photo_profil2 {
    /* float: left; */
    height: 43%;
    width: 40%;
    margin: 10px;
    border-radius: 50%;
}

.Modifier2 {
    /* margin-left: 65%; */
    padding: 5px;
    border-radius: 5px;
    width: 35%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
}

.Modifier2:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}

.td1 {
    width: 15%;
    border-right: 3px solid #979899;
}

.td1 ul {
    list-style: none;
    /* width: 40%; */
}

#Enregistrer {
    margin-left: 80%;
    text-align: center;
    margin-top: 2%;
    padding: 5px;
    border-radius: 5px;
    width: 15%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
}

#Enregistrer:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}

.profil_edit {
    margin-left: 12%;
}

#date_de_naissance2 {
    font-size: 13px;
    padding-right: 11%;
    color: #bfc6c9;
}

#Date2 {
    padding: 5px;
    border-radius: 5px;
    width: 9%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
}


/* ----------------------------RENDEZ-VOUS-ENSEIGNANT------------------------------------------------ */

.cadre {
    width: 80%;
    height: 80%;
    padding: 10px 30px 10px 30px;
    position: relative;
    top: -25%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    text-align: center;
    border-radius: 1%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;
}

.bar_iden {
    color: rgb(238, 236, 236);
    font-weight: 300;
    font-family: 'Oswald';
    margin-right: 0px;
    overflow: hidden;
}

.bar_iden ul li {
    list-style: none;
    float: left;
    width: 25%;
    height: 15%;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px 20px 0px 10px;
    border: #abcfb6 1px solid;
    border-radius: 10px;
    outline: none;
}

.bar_iden ul li .RDV {
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: rgba(139, 138, 138, 0.8);
    color: #cddde4;
    font-size: 13px;
    border-radius: 10px 10px 0px 0px;
    outline: none;
}

.bar_iden ul li .date {
    float: left;
    padding-left: 5%;
    padding-right: 30%;
    border-right: 1px solid #f1e9e9;
}

.bar_iden ul li .annuler {
    float: right;
    padding-right: 10%;
}

.bar_iden ul li .nom_prof {
    padding-right: 5%;
    margin-right: 1%;
    line-height: 80px;
    border-right: 1px solid;
    font-size: 17px;
    width: 20%;
}

.bar_iden ul li .matière {
    font-size: 12px;
}

.photo_profil3 {
    float: left;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
}

.bar_iden ul li:hover {
    background: rgba(51, 51, 51, 0.8);
}

.cadre td {
    width: 100%;
}

.search_box {
    margin: 1%;
    position: relative;
}

.search_box input[type="text"] {
    font-size: large;
    width: 65%;
    padding: 7px;
    margin: 0;
    float: left;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    outline: none;
    overflow: hidden;
}

.bar_rech {
    color: rgb(238, 236, 236);
    font-weight: 300;
    font-family: 'Oswald';
    margin-right: 0px;
    overflow: hidden;
}


/* .bar_rech ul {
                                        padding: 0px;
                                        margin: 0px;
                                    } */

.bar_rech ul li {
    list-style: none;
    /* float: left; */
    width: 70%;
    height: 80px;
    background: rgba(0, 0, 0, 0.3);
    margin: 10px 20px 0px 10px;
    border: #abcfb6 1px solid;
    border-radius: 10px;
    outline: none;
}

.bar_rech ul li .nom_prof {
    padding-right: 5%;
    margin-right: 1%;
    line-height: 80px;
    border-right: 1px solid;
    font-size: 17px;
    width: 20%;
}

.bar_rech ul li .matière {
    font-size: 12px;
}

.bar_rech ul li .prendre_rendez_vous {
    font-size: 12px;
    margin-left: 5%;
    padding-left: 21%;
}

.bar_rech ul li:hover {
    background: rgba(51, 51, 51, 0.8);
}


/* ----------------------------MESSAGERIE------------------------------------------------ */

.Message1 textarea {
    border: 1px solid;
    background-color: transparent;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
    height: 300px;
    border: 1px solid #abcfb6;
    resize: none;
}

 ::-webkit-input-placeholder {
    color: #a6aaac;
}

 ::-moz-input-placeholder {
    color: #8b8d8d;
}

 ::-ms-input-placeholder {
    color: #787a7a;
}

#Envoyer {
    margin-top: 2%;
    margin-right: 95%;
    padding: 5px;
    border-radius: 5px;
    width: 10%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
}

#Envoyer:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}


/* ----------------------------RDV------------------------------------------------ */

.Message {
    border: 1px solid;
    background-color: transparent;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
    height: 200px;
    border: 1px solid #abcfb6;
    resize: none;
}


/* ----------------------------DISPO_POROF------------------------------------------------ */

.container {
    width: 80%;
    height: 83%;
    padding: 10px 30px 10px 30px;
    position: fixed;
    top: -28%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    /* min-height: 1vh; */
    text-align: center;
    border-radius: 1%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;
}

.container table {
    border-collapse: collapse;
    margin-left: 5%;
    /* margin-right: 25%; */
    border: 1px solid #abcfb6;
    text-align: center;
    width: 90%;
    /* width: 55%; */
}

.container tr {
    font-size: 15px;
    border: 1px solid #abcfb6;
    border-top: 1px solid #abcfb6;
    text-align: center;
    /* height: 40%; */
    /* width: 100%; */
}

.container td {
    border: 1px solid #abcfb6;
    text-align: center;
    width: 10%;
}

#Confirmation_disp {
    margin-top: 2%;
    margin-right: 95%;
    padding: 5px;
    border-radius: 5px;
    width: 15%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
}

#Confirmation_disp:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}

.checkbox2 {
    font-size: 15px;
}

td input {
    margin: .4rem;
}

.Message2 textarea {
    margin-right: 5%;
    background-color: transparent;
    padding: 10px;
    color: #c5ecfd;
    width: 93%;
    height: 110px;
    border: 1px solid #abcfb6;
    resize: none;
}

.container22 {
    width: 80%;
    height: 83%;
    padding: 10px 30px 10px 30px;
    position: fixed;
    top: -28%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    /* min-height: 1vh; */
    text-align: center;
    border-radius: 1%;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;
}

.container22 table {
    border-collapse: collapse;
    margin-left: 1%;
    /* margin-right: 25%; */
    border: 1px solid #abcfb6;
    text-align: center;
    width: 93%;
    /* width: 55%; */
}

.container22 tr {
    font-size: 15px;
    border: 1px solid #abcfb6;
    border-top: 1px solid #abcfb6;
    text-align: center;
    /* height: 40%; */
    /* width: 100%; */
}

.container22 td {
    border: 1px solid #abcfb6;
    text-align: center;
    width: 10%;
}

.checkbox3 {
    font-size: 15px;
}

.checkbox3 input {
    margin-top: 5px;
    margin-bottom: 5px;
}

#objet {
    padding: 5px;
    border-radius: 5px;
    width: 15%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    /* margin-right: 89%; */
}

.Confirmation_disp {
    margin-top: 2%;
    margin-right: 95%;
    padding: 5px;
    border-radius: 5px;
    width: 15%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
}

.Confirmation_disp:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}

.cc ul {
    padding: 0%;
    text-align: center;
    list-style: none;
    display: flex;
}

.cc li {
    color: #f1e9e9;
    font-size: 100%;
    width: 100%;
    padding-top: 5px;
}

.docs {
    /* margin-left: 65%; */
    padding: 5px;
    border-radius: 5px;
    width: 35%;
    background: rgba(0, 0, 0, 0.7);
    color: #cddde4;
    border: 1px solid #cddde4;
}

.docs:hover {
    border-color: #abcfb6;
    background: rgba(139, 138, 138, 0.8);
}

.opload{
    position: absolute;
    top: 450px;
    left: 5px; color: rgb(243, 234, 234);
    background: rgba(0, 0, 0, 0.7);
    /*font-size: x-large*/
}
.oploadFile{
    position: absolute; 
    top: 720px; 
    left: 1200px; color: rgb(243, 234, 234); 
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    /*font-size: x-large*/
}



